@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald&family=PT+Serif:ital@1&family=Poppins:wght@500&display=swap");

.fonts {
  font-family: "Merriweather", serif;
}
.name-mod{
  font-weight: 600;
}
.colors{
  background-color: #00004d;
  
}