@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Merriweather&family=Oswald&family=PT+Serif:ital@1&family=Poppins:wght@500&display=swap');
/* .btn-mod{
    padding: 7px;
    color: whitesmoke;
    background-color: rgb(56, 9, 9);
    border-radius: 20px;
} */
